/* Fonts used Fraunces and inter */
@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,wght@0,300;0,400;0,500;0,600;1,300;1,400&family=Inter:wght@400;500&display=swap');


/* 
color used:
    backgrounds:
        off white #ede5d4
        white #ffffff
        orange #c44536
        dark orange: #a63a2e
    text:
        dark brown #39312d
    border:
        gray #e0e0e0


*/



* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    position: relative;
    font-family: Inter, sans-serif;
    background-color: #ffffff;
    color: #39312d;
}

a {
    text-decoration: none;
    color: #39312d;
}

h1,
h2,
h3 {
    font-family: Fraunces, sans-serif;
}

main h1,
main h2,
main h3 {
    font-weight: 600;

}

main h1 {
    font-size: 55px;
    margin-bottom: 18px;
    /* letter-spacing:-3px; */
}

main h2 {
    font-size: 38px;
    margin-bottom: 24px;
    letter-spacing: -1.5px;
}

main h3 {
    font-size: 24px;
    margin-bottom: 12px;
    letter-spacing: -0.5px;
}

p {
    font-size: 18px;
    line-height: 1.9em;
    margin-bottom: 20px;
}

hr {
    margin: auto;
    border-top: #e0e0e0 solid 1px;
    width: 100%;
}

.button {

    font-size: 120%;
    font-weight: 500;
    background-color: #c44536;
    padding: 12px 24px;
    border-radius: 50px;
    color: #ffffff;
    /* position: absolute; */
    /* transition: .5s ease; */
}

.button:hover {
    background-color: #a63a2e;
    color: #ffffff;
    /* transform: translateY(-5px); */
}

.main-container {
    background-color: #ffffff;
    padding: 64px 0;
}

.sec-container {
    width: 100%;
    max-width: 1600px;
    margin: auto;

}

.flex-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 64px;
}

/* base image container */
.base-image-container {
    width: 100%;

    border-radius: 15px;
    overflow: hidden;
}

.base-image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: .5s ease;
}

.base-image-container img:hover {
    transform: scale(1.1);
    /* cursor: pointer; */
}

.base-image-caption {
    display: inline-block;
    margin-top: 20px;
}

h3.base-image-caption a:hover {
    color: #a63a2e;
}

/* ------------------------------HOME PAGE----------------------------------- */

/* Header---------------------------------- */
header {
    position: relative;
    z-index: 1000;
    width: 100%;
    /* height: 100px; */
    background-color: #ffffff;
    border-bottom: 1px solid #e0e0e0;
    box-shadow: 0 2px 8px 0 rgba(57, 49, 45, 0.08);
}

/* reset the header padding---------------- */
header.flex-container {
    padding: 22px 0;
    /* padding: 0; */

}

#nav-container {
    justify-content: space-between;
}

/* The logo consists of an h1 and p-------- */
#logo {
    color: #39312d;
    line-height: 80%;

    text-transform: uppercase;
    font-size: 250%;
}

#nav-container p {
    line-height: 130%;
    text-align: center;
    /* padding-left:5px; */
    color: #ffffff;
    background-color: #c44536;
    margin-bottom: 0;
}

/* navigation menu------------------------- */
#nav-container nav {
    margin-left: auto;

}

#nav-menu {
    font-family: Inter, sans-serif;
    font-size: 120%;
    font-weight: 500;
    /* align-items:center;
    justify-content: space-between; */
    padding: 0;


}

#nav-menu li {

    list-style-type: none;
    /* padding: 24px; */
    /* margin-left: 30px; */
}

#nav-menu a {
    padding: 24px;
}

#nav-menu a:hover {
    /* color: #a63a2e; */

    background-color: #c44536;
    padding: 12px 24px;
    border-radius: 50px;
    color: #ffffff;
}

/* .active {
    background-color: #c44536;
    padding: 12px 24px;
    border-radius: 50px;
    color: #ffffff;
} */

/* #nav-menu a.active:hover {
    background-color: #a63a2e;
    color: #ffffff;
} */

/* Hero section------------------------- */

#hero-sec {
    background-color: #ede5d4;


    /* z-index: 0; */
    /* overflow: hidden; */

}

/* Hero image------------------------- */

.image-container {
    height: 600px;
    width: 650px;
    border-radius: 25px;
    overflow: hidden;
    /* position: relative; */
    margin-left: auto;

}

.image-container>div {
    height: 100%;
    /* width: 650px; */
    background: url("../image/hero-image.jpg") no-repeat center center / cover;
    transition: .5s ease;
}

.image-container>div:hover {
    transform: scale(1.1);
    cursor: pointer;
}

/* Hero cover text------------------------- */
.hero-cover-text {
    width: 100%;
    max-width: 550px;
}

.hero-cover-text p {
    margin-bottom: 48px;

}

/* Gallery section------------------------- */

#gallery-sec {}

.sec-header {
    padding-left: 64px;
    text-transform: capitalize;
    margin-bottom: 48px;


}




.container {
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-top: 56.25%;
    /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
}

/* Then style the iframe to fit in the container div with full height and width */
.responsive-iframe {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
}

.video-container {
    padding: 0 64px;
}

#video-frame {
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-top: 56.25%;
    margin: auto;
    display: block;

    border-radius: 25px;
    overflow: hidden;
}

#video-frame iframe {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
}

/* Photo gallery---------------------------- */

.gallery-container {

    display: block;
    margin: auto;
    width: 100%;
    max-width: 1400px;
    padding: 100px 64px 0 64px;
}


/* Responsive--------------------------- */
.image-gallery {
    /* Mobile first------------------------- */
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.image-gallery .column {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.image-item img {
    width: 100%;
    border-radius: 15px;
    height: 100%;
    object-fit: cover;
}

/* @media only screen and (min-width: 758px) {
    .image-gallery {
        flex-direction: row;
    }
} */

/* overlay styles--------------------------- */
.image-item {
    position: relative;
    cursor: pointer;
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(57, 57, 57, 0.502);
    /* background: rgba(57, 57, 57, 0.502); */
    top: 0;
    left: 0;
    transform: scale(0);
    transition: all 0.2s 0.1s ease-in-out;
    color: #fff;
    border-radius: 15px;
    /* center overlay content---------------- */
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15%;
}

.overlay h3 {
    font-size: 26px;
    line-height: 30px;
    margin-bottom: 6px;

}

.overlay p {
    font-size: 20px;
    line-height: 22px;
    margin-bottom: 0;
}

/* hover effect----------------------------- */
.image-item:hover .overlay {
    transform: scale(1);
}

/* about section---------------------------- */


#articles-container {
    width: 100%;
    margin: auto;
    max-width: 1400px;
    padding: 0 64px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    column-gap: 32px;
    row-gap: 64px;
}


.about-image-size {

    height: 350px;

}


/* contact section-------------------------- */

#contact-sec {
    height: 400px;
    /* position: relative; */
    background-image: url("../image/contact-background-image.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    /* background-color: red; */
}

.contact-container {
    color: #ffffff;
    margin-top: 60px;
}

#contact-sec h2 {
    margin-bottom: 10px;
    padding: 0;
}

.contact-container>div {
    position: relative;
    z-index: 1;
    text-align: center;
}

.contact-image-overlay {
    position: relative;
}

.contact-image-overlay:after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
    width: 100%;
    background: #00000090;
    /* background: rgba(239, 186, 108, 0.4); */
}

/* tours section-------------------------- */
#tours-container {
    width: 100%;
    margin: auto;
    max-width: 1400px;
    padding: 0 64px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 1fr);
    column-gap: 32px;
    row-gap: 64px;
}

.tour-image-size {
    height: 350px;
}

/* Footer--------------------------------- */

#footer-sec {
    background-color: #ede5d4;
    height: 200px;
    align-items: flex-end;
    /* justify-content: space-between; */
    /* padding-top: 40px; */
}

div.footer-container {
    flex-direction: column;

    width: 60%;
}

.social-networks {
    /* font-family: Inter, sans-serif; */
    font-size: 400%;
    font-weight: 500;

    padding: 0;


}

.social-networks li {

    list-style-type: none;
    padding: 20px 50px;
    /* margin-left: 30px; */
}

.social-networks a:hover {
    color: #a63a2e;
}

/* ------------------------------photo PAGE----------------------------------- */

#photo-sec {

    /* background-color: #000000; */
    height: 100vh;

}

.gallery-background {
    z-index: 0;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    /* bottom: auto; */
    overflow: hidden;
    background-color: #000000;
}

#photo-sec>div {
    flex-direction: column;
    /* padding-top: 64px; */
}

#photo-sec div.sec-container {
    position: relative;
    z-index: 10;
    padding: 0 32px;
}

.photo-image-size {
    height: 650px;
    width: 100%
}

#main-photo {
    max-width: 1400px;
}

#main-photo img {
    transform: none;
}

.photo-caption {
    text-align: center;
    /* max-width: 450px; */
    color: #ffff;
    padding: 20px 0 30px 0;
    font-size: 24px;
    margin-bottom: 12px;
    letter-spacing: -0.5px;
}

/* ------------------------------ARTICLE PAGE----------------------------------- */

.article-header {
    background-color: #ede5d4;
    padding: 0 64px;
}

.article-header>h1 {

    max-width: 700px;
    text-align: center;
    margin: 0 auto;

    padding: 128px 0 64px 0;

}

#article-head-sec {
    padding: 0;
}

/* article hero image--------------------- */
.hero-article-image-container {
    position: relative;
    z-index: 10;
    overflow: hidden;
    margin: 0 auto;
    padding: 0 64px;
}

.article-image-background {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: auto;
    overflow: hidden;
    height: 50%;
    background-color: #ede5d4;
    z-index: -1;
}




div.hero-article-image-size {
    margin: 0 auto;

}

#article-head-sec img {
    transform: none;
}


.article-image-size {
    margin: 64px 0 128px 0;
    height: 600px;
    max-width: 100%;
}

.hero-article-image-size {
    margin: 64px 0 128px 0;
    height: 600px;
    max-width: 1470px;
}


div.article-image-size {
    margin: 48px 0;
}

/* article text--------------------------- */
.text-container {
    padding: 0 64px;
}

#article-text {
    margin: 64px auto;
    max-width: 846px;
    /* padding: 0 64px; */
}

#article-text h3 {
    margin-top: 32px;
}

#article-text h2:last-of-type {
    margin-top: 64px;
}

#article-text p:last-of-type {
    margin-bottom: 0;
}

.highlight-text {
    background-color: #ede5d4;
    border-radius: 15px;
    padding: 32px;
}




/* ------------------------------CONTACT PAGE-------------------------------- */


.form-sec {
    padding: 64px;
}

.contact-header {
    background-color: #ede5d4;
    padding: 0 64px;
}

.contact-header h1 {

    max-width: 700px;
    text-align: left;
    margin: 0;
    margin-right: auto;
    padding: 64px 0 32px 0;
}

.contact-header-container {
    max-width: 1470px;
    margin: 0 auto;
}

.contact-info-block-container {
    margin: 0 auto;
    padding: 0;
    max-width: 1470px;
}

#contact-head-sec {
    padding: 0;
}

/* contact hero image--------------------- */
.hero-contact-image-container {
    position: relative;
    z-index: 10;
    overflow: hidden;
    margin: 0 auto;
    padding: 0 64px;
}

.contact-image-background {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: auto;
    overflow: hidden;
    height: 50%;
    background-color: #ede5d4;
    z-index: -1;
}


div.hero-contact-image-size {
    margin: 0 auto;

}

#contact-head-sec img {
    transform: none;
}

.hero-contact-image-size {
    margin: 64px 0 128px 0;
    height: 600px;
    max-width: 1470px;
}

/* contact input-------------------------- */
div.contact-info-block-container {
    align-items: flex-start;
}

.input-container {
    width: 100%;
    max-width: 640px;
}

input,
textarea {
    font-family: Inter, sans-serif;
    display: block;
    width: 100%;
    border: solid #e0e0e0 1px;
    outline: none;
}

input:focus,
textarea:focus {
    border: 1px solid #39312d;
}


input.text-input {
    border-radius: 50px;
    font-size: 18px;
    line-height: 1.9em;
    margin-bottom: 16px;
    padding: 12px 24px;
}

textarea.text-area {
    padding: 12px 24px 263px;
    border-radius: 18px;
    font-size: 18px;
    line-height: 1.9em;
    margin-bottom: 16px;

}

input.button {
    width: auto;
    padding: 12px 24px;
}

/* info block----------------------------- */
.contact-info-block {
    max-width: 415px;
    margin-right: 64px;
    margin-right: auto;
}

.email {
    color: #a63a2e;
    font-size: 22px;
}

.email:hover {
    color: #c44536;
}


/* ---------------------------SCROLL BUTTON---------------------------------- */

.scroll-container {
    position: absolute;
    top: 0;

    z-index: 100;
    right: 3vh;
    height: 100%;
}




.scroll-container:before {
    content: '';
    display: block;
    height: 105vh;
    pointer-events: none;
}

.scroll-container a {
    /* background-color: #ede5d4; */
    position: sticky;
    top: 90vh;
    cursor: pointer;
    font-size: 20px;
}



/* ---------------------------RESPONSIVENESS--------------------------------- */


@media screen and (max-width: 992px) {

    /* all page----------------------------- */
    .sec-header {
        padding-left: 32px;
    }


    /* index hero sec----------------------------- */
    #hero-sec>div {
        flex-direction: column;
        justify-content: center;
        padding: 0 32px;
    }

    .hero-cover-text {
        max-width: 600px;
        margin: 0 auto;
        margin-bottom: 128px;
        text-align: center;
    }

    .image-container {
        width: 100%;

    }

    .hero-cover-text h1 {
        font-size: 43px;
    }

    /* index about sec----------------------------- */
    #articles-container {
        padding: 0 32px;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(4, 1fr);

    }

    /* index tours sec----------------------------- */
    #tours-container {

        padding: 0 32px;

        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(3, 1fr);

    }

    /* index gallery sec--------------------------- */
    .video-container {
        padding: 0 32px;
    }

    .gallery-container {

        padding: 100px 32px 0 32px;
    }

    /* index footer-------------------------------- */
    .social-networks {

        font-size: 300%;

    }

    /* ---------------------------------------------------------------------- */
    /* article hero sec-------------------------------- */
    .article-header h1 {
        font-size: 43px;
        padding: 64px 0 32px 0;
    }

    .hero-article-image-container {
        padding: 0 32px;
    }

    #article-text>div {
        padding: 0 32px;
    }



}


@media screen and (max-width: 768px) {

    /* index header--------------------------------- */
    #nav-container {
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    #nav-container nav {
        margin: 0;




    }

    header.flex-container {
        padding: 32px 0;
        /* padding: 0; */
    }

    #nav-menu {
        margin-top: 20px;
        font-size: 100%;
        /* flex-direction: column; */
        align-items: center;
        justify-content: center;
    }

    #nav-menu a {
        padding: 15px;
    }

    header.flex-container {
        padding: 22px 0 28px 0;


    }

    #nav-menu a:hover {

        padding: 8px 15px;

    }



    .social-networks {

        font-size: 300%;
        font-weight: 500;
        padding: 0;
    }

    .social-networks li {

        padding: 20px 30px;

    }

    #footer-sec p {
        font-size: 14px;
    }

    div.footer-container {

        width: 100%;
    }

}

@media screen and (max-width: 480px) {
    #nav-menu {
        margin-top: 20px;
        font-size: 120%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    #nav-menu a {
        padding: 0px;
    }

    #nav-menu a:hover {

        background-color: #ffffff;
        padding: 0;
        border-radius: 0;
        color: #a63a2e;
    }


    .contact-container {

        padding: 0 32px;
    }

    h1.title {
        font-size: 30px;
    }

    h2.sec-header {
        font-size: 26px;
    }

    h3.base-image-caption {
        font-size: 20px;
    }

    p {
        font-size: 16px;
    }

    .social-networks {

        font-size: 200%;
        font-weight: 500;
        padding: 0;
    }

    .hero-cover-text {
        margin-bottom: 64px;
    }

    .image-container {
        height: 370px;
    }

    /* ---------------------------------------------------------------------- */
    /* article header------------------------------------ */
    .article-header>h1 {
        font-size: 30px;
        padding: 32px 0 32px 0;
    }



    /* article hero------------------------------------ */

    div.base-image-container {
        height: 420px;
    }

    /* article text------------------------------------ */
    #article-text h2 {
        font-size: 26px;
        margin-bottom: 10px;
    }

    #article-text h3 {
        font-size: 20px;
        margin-top: 16px;
        margin-bottom: 5px;
    }

    .text-container {
        padding: 0 32px;
    }

    #article-text {
        margin: 32px auto;
    }

    p {
        font-size: 16px;
        margin-bottom: 10px;
    }

    /* ---------------------------------------------------------------------- */
    /* photo photo sec-------------------------------- */
    #photo-sec {
        padding: 32px 0;
    }

    .photo-caption {
        font-size: 20px;
    }

    a.button {
        font-size: 100%;
    }
}





/* index photo gallery--------------------------- */
@media only screen and (min-width: 768px) {
    .image-gallery {
        flex-direction: row;
    }






    /* important scroll to top button */

    /* html {
    scroll-behavior: smooth;
}

body {
    position: relative;
}

.section {
    height: 100vh;
    background: #dedede;
    margin-bottom: 20px;
    font-size: 100px;
}

.scroll-container {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
}

.scroll-container:before {
    content: '';
    display: block;
    height: 100vh;
    pointer-events: none;
}

.scroll-container a {
    position: sticky;
    top: 88vh;
    cursor: pointer;
    font-size: 20px;
} */





    /* 
#hero-sec {
    background-color: #ede5d4;



}



.image-container {
    height: 600px;
    width: 650px;
    border-radius: 25px;
    overflow: hidden;
    
    margin-left: auto;

}

.image-container>div {
    height: 100%;
   
    background: url("../image/hero-image.jpg") no-repeat center center / cover;
    transition: .5s ease;
}

.image-container>div:hover {
    transform: scale(1.1);
    cursor: pointer;
}


.hero-cover-text {
    width: 100%;
    max-width: 550px;
}

.hero-cover-text p {
    margin-bottom: 48px;

} */